#! /bin/bash

set -x 

# Create this file in submod with appropriate info
# This is used in LoM-Version file.
# Note: source branch info will not be available in submod.
#       We just do "git reset --hard origin/<some branch>.
#       This info is not retrievable.
#       Hence manual update is needed.
#       Which is why we don't checkin VersionSrc file and force dev to create one.
# TODO - Get it from SONIC image version
#
if [ $# -ne 2 ]; then
    echo "Expect $0 <template> <o/p file>"
    exit -1
fi
pushd $(dirname $0)/../../..
HRepo=$(git remote -v | head -n 1 | sed 's/\t/ /g' | tr -s ' ' | cut -f2 -d' ')
HCmt=$(git log --pretty=format:'%h' -n 1)
popd

# Add this LOM_BRANCH for this command to succeed.
# LOM_BRANCH=Unknown \      
LOM_COMMIT=$(git log --pretty=format:'%h' -n 1) \
LOM_REPO=$(git remote -v | head -n 1 | sed 's/\t/ /g' | tr -s ' ' | cut -f2 -d' ') \
HOST_VENDOR=sonic HOST_REPO=${HRepo} HOST_COMMIT=${HCmt} \
j2 -o $2 $1

exit $?
