Source: sonic-device-health
Section: devel
Priority: optional
Maintainer: Renuka Manavalan <remanava@microsoft.com>
Build-Depends: debhelper (>= 12.0.0),
Standards-Version: 3.9.3
Homepage: https://github.com/Azure/sonic-device-health
XS-Go-Import-Path: github.com/Azure/sonic-device-health

Package: sonic-device-health
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends}
Description: SONiC Device-Health LoM
