{
    "LoMVersion": "0.0.0",
    "Hostvendor": "{{ HOST_VENDOR }}",
    "LoMRepo": "{{ LOM_REPO }}",
    "LoMBranch": "{{ LOM_BRANCH }}",
    "LoMCommit": "{{ LOM_COMMIT }}",
    "description": "Initial"
}
