{
    "LoMVersion":   "0.0.0",
    "Hostvendor":   "{{ HOST_VENDOR }}",
    "HostRepo":     "{{ HOST_REPO }}",
    "HostCommit":   "{{ HOST_COMMIT }}",
    "LoMRepo":      "{{ LOM_REPO }}",
    "LoMBranch":    "{{ LOM_BRANCH }}",
    "LoMCommit":    "{{ LOM_COMMIT }}",
    "LoMCommitMsg": "{{ LOM_COMMIT_MSG }}",
    "description":  "Initial"
}
