{
    "HostVersion": "{{ HOST_OS_VERSION }}",
    "LoMVersion": "0.0.0",
    "vendor": "{{ HOST_VENDOR }}",
    "LoMBranch": {{ LOM_BRANCH }}",
    "LoMCommit": {{ LOM_COMMIT }}",
    "description": "Initial"
}
